ion-item.radio {
  ion-radio {
    width: 15px !important;
    height: 15px !important;
    margin-right: 3px !important;
  }

  ion-label {
    font-size: 0.8em !important;
  }
}

ion-select.select-with-border{
  border: 1px solid var(--ion-border-color);
  padding-left: 6px;
}

.no-box-shadow {
  box-shadow: none !important;
}

.show-only-on-small-devices {
  display: none !important;
}

.show-only-on-other-devices {
  display: block !important;
}

.select-box {
  border-radius: 3px;
  background: var(--main-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  min-height: 40px;
  margin-top: 10px;
  width: 100%;
  padding: 8px 10px 9px 10px !important;

  &:hover {
    background-color: var(--tertiary-bg-color);
  }

  span {
    float: left;

    &.text {
      color: var(--main-txt-color);
      overflow: hidden;
      white-space: pre;
      display: block;
      text-overflow: ellipsis;
      width: 92%;

      &.placeholder {
        opacity: .33;
      }
    }

    &.icon {
      width: 8%;
      display: block;
      text-align: right;

      ion-icon {
        opacity: .33;
        font-size: 17px !important;
      }
    }

  }
}

.form-input {
  border-radius: 3px;
  background: var(--main-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  min-height: 40px;
  margin-top: 10px;

  ion-grid {
    ion-col {
      height: 43px; // original min-height 48px
      margin-top: -4px;
      margin-bottom: 3px;

      ion-item {
        margin-top: -2px;
        top: 5px;
        --min-height: 43px;
      }
    }
  }
}

ion-radio-group.form-input {
  width: 100%;
}

.table {
  .table-container {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .table-header {
      padding-bottom: 5px;
      border-bottom: 1px solid #cccccc;

      ion-text {
        font-size: 1rem;
      }
    }

    .table-row {
      padding-top: 5px;
      padding-bottom: 0;

      &:hover {
        background: var(--tertiary-bg-color);
      }
    }
  }
}

.duration-item {
  --border-width: 0 0 1px 1px !important;
}

// media queries for changing table to card design in small devices
@media (max-width: 575px) {
  // small screen

  .duration-item {
    --border-width: 0 0 1px 0 !important;
  }

  .table-header {
    display: none;
  }

  .table-row {
    &.text-bold.no-bold-on-small-devices {
      font-weight: normal !important;
    }

    .ion-text-center.no-center-on-small-devices {
      text-align: left !important;
    }

    .title-on-small-devices {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .show-only-on-small-devices {
    display: block !important;
  }

  .show-only-on-other-devices {
    display: none !important;
  }

  .border-bottom {
    border-bottom: 1px solid var(--main-txt-color) !important;
  }

  .bold-on-small-devices {
    font-weight: bold;
  }

}
