.swap-button ion-icon {
  transform: rotate(90deg);
}

.passed{
  color: var(--ion-color-medium) !important;
  font-weight: normal !important;
}

.primary-color {
  color: var(--ion-color-primary) !important;
}

.minutes-left-wrap {
 padding-left: 3px;
}

.trips {
  padding-bottom: 20px;
  font-size: 18px;
}

.simple-view-trip {
  font-size: 17px;
}

.simple-view-trip-first {
  font-weight: bold;
  font-size: 17px;
  color: var(--ion-color-primary);
}


.simple-view-trip-duration-first {
  opacity: .6;
}

.simple-view-trip-duration {
  opacity: .6;
}

.trip-section {
  font-size: 25px !important;
  color: var(--ion-color-primary);
  margin-bottom: 20px;
}


.trip-section:not(:last-child) {

  @media (min-width: 768px) {
    border-right: solid 1.5px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
