<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>One More Step ..</ion-title>
    <ion-buttons slot="end">
      <ion-button outline (click)="dismiss()">
        <ion-icon class="colored-text" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" offset-md="1" size-md="7" class="margin-auto">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <h2 class="ion-padding">Based on the module code you have selected, we have found <span
                class="text-bold colored-text">{{classCodes.length}} class codes</span> that match your class. Please
              select the one that
              you are looking for:</h2>
            <ion-radio-group class="form-input ion-no-padding ion-margin-top" [(ngModel)]="selectedClassCode">
              <ng-container *ngFor="let classcode of classCodes; let i=index">

                <ion-item-divider [color]="i === 0 ? 'success' : 'primary'" *ngIf="classCodes.length > 1 && (i===0 || ( i !== 0 && classcode.matches !== classCodes[0].matches && classcode.matches !== classCodes[i-1].matches))">
                  <ion-label class="text-bold">
                    <span *ngIf="i === 0">Most Related Class Codes</span>
                    <span *ngIf="i !== 0">Class Codes With {{classcode.matches}} {{classcode.matches !== 1 ? 'Matches': 'Match'}}</span>
                  </ion-label>
                  <ion-badge color="light" slot="end" class="ion-margin-end" *ngIf="i===0">
                    <ion-label color="success">{{classcode.matches}} Matches</ion-label>
                  </ion-badge>
                </ion-item-divider>

                <ion-item class="transparent">
                  <ion-radio slot="start" [value]="classcode.value"></ion-radio>
                  <ion-label [color]="selectedClassCode === classcode.value ? 'primary' : ''">
                    {{ classcode.value }}
                  </ion-label>
                </ion-item>
              </ng-container>

            </ion-radio-group>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
            <h2 class="ion-margin-bottom">Class type:</h2>
            <ion-radio-group class="form-input ion-no-padding" [(ngModel)]="selectedClassType">
              <ion-item class="transparent" *ngFor="let t of classTypes">
                <ion-radio slot="start" [value]="t"></ion-radio>
                <ion-label [color]="selectedClassType === t ? 'primary' : ''">
                  {{ t }}
                </ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" class="ion-text-center">
        <h2 style="margin-left: 10%; width: 80%; text-transform: uppercase; margin-bottom: 20px; margin-top: 20px; color: #3a99d9"
          class="ion-text-center text-bold ion-margin-top hide-on-small">Just
          One More Step ...</h2>
        <svg class="hide-on-small" id="a43d4114-cd98-41f6-b9a0-b0700c71b140" data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg" width="80%" height="40%" viewBox="0 0 722 628.5076">
          <ellipse cx="325" cy="618.5076" rx="199" ry="10" fill="#e6e6e6" />
          <circle cx="98.7538" cy="98.7538" r="98.7538" fill="#e6e6e6" />
          <circle cx="98.7538" cy="98.7538" r="82.29483" fill="#3a99d9" />
          <circle cx="361" cy="98.7538" r="98.7538" fill="#e6e6e6" />
          <circle cx="361" cy="98.7538" r="82.29483" fill="#fff" />
          <circle cx="623.2462" cy="98.7538" r="98.7538" fill="#e6e6e6" />
          <circle cx="623.2462" cy="98.7538" r="82.29483" fill="#fff" />
          <polygon
            points="86.121 132.566 62.146 101.741 76.088 90.896 87.44 105.492 125.789 65.011 138.612 77.16 86.121 132.566"
            fill="#fff" />
          <path
            d="M512.74375,254.63706c-6.48534-15.6637-7.53825-30.44721,1.60416-43.5788h0v0a32.97462,32.97462,0,0,1,35.17524-31.68663l5.96094.40277a32.84642,32.84642,0,0,1,28.29082,20.38647c11.11549,27.56779,11.46537,64.20685,8.6913,103.47825H510.94C515.78212,285.27325,518.268,268.03621,512.74375,254.63706Z"
            transform="translate(-239 -135.7462)" fill="#2f2e41" />
          <path
            d="M407.46181,302.69572l-21.54424-9.67784a16.4179,16.4179,0,0,1-7.14015-23.76472l0,0a16.4179,16.4179,0,0,1,26.59776-1.57931l9.9532,12.22112,46.40234,41.15415,30.84512-20.584,13.9796,23.70151-50.03519,30.22389Z"
            transform="translate(-239 -135.7462)" fill="#9f616a" />
          <path
            d="M504.30871,331.13847l-17.00916-32.54663,66.23159-29.50091.57344,6.22557a33.008,33.008,0,0,1-13.61467,29.83813Z"
            transform="translate(-239 -135.7462)" fill="#3a99d9" />
          <path
            d="M590.13685,267.14641l-67.55026,55.90367-3.8822-5.43508,18.63455-33.38691,8.54084-3.8822c2.04631-8.66972-3.1777-20.29608-10.09372-32.61047l32.61047-4.65864C569.97055,253.6534,577.1384,261.71207,590.13685,267.14641Z"
            transform="translate(-239 -135.7462)" fill="#9f616a" />
          <polygon points="432.663 517.291 421.405 533.984 331.726 483.127 344.149 421.789 432.663 517.291"
            fill="#2f2e41" />
          <path
            d="M553.256,732.62207l-18.24634-8.15262L530.351,510.94851,512.88109,394.87076l67.93848-12.81126,13.97592,30.28116C629.14072,459.44606,579.07306,603.77941,553.256,732.62207Z"
            transform="translate(-239 -135.7462)" fill="#2f2e41" />
          <path
            d="M554.727,729.72092l3.74388,8.14845a10.82449,10.82449,0,0,1-8.30515,15.23492l-49.49793,7.07113a10.1726,10.1726,0,0,1-11.21982-7.27573h0a10.17259,10.17259,0,0,1,4.6703-11.59011l41.58323-20.81312Z"
            transform="translate(-239 -135.7462)" fill="#2f2e41" />
          <path
            d="M669.34554,649.88259l8.94332-.65645a10.82449,10.82449,0,0,1,11.36645,13.11038l-10.69313,48.84366a10.1726,10.1726,0,0,1-10.74129,7.96525h0a10.17261,10.17261,0,0,1-9.22368-8.43008l-4.94943-46.23693Z"
            transform="translate(-239 -135.7462)" fill="#2f2e41" />
          <circle cx="308.43266" cy="91.80178" r="31.05759" fill="#9f616a" />
          <path
            d="M579.26669,386.71814l-67.55026,13.97592-1.55288-45.03351c-9.78142-10.35567,13.03153-51.83053,20.96387-71.43246l10.09372-3.10576-17.08167,31.05759,59.78586-48.91571,11.6466,3.10576,3.10576,56.68011Z"
            transform="translate(-239 -135.7462)" fill="#3a99d9" />
          <path
            d="M583.92533,413.89353l-14.64879,18.52641a16.4179,16.4179,0,0,1-24.789,1.11683l0,0a16.4179,16.4179,0,0,1,4.9677-26.17741l14.28273-6.66527,51.245-34.93979-12.423-34.93979,26.399-7.7644,17.08167,55.90366Z"
            transform="translate(-239 -135.7462)" fill="#9f616a" />
          <path
            d="M586.642,297.42757h-56.2686c2.11426-10.63575,7.78226-20.28466,23.28356-27.20291,11.303-21.60269,16.13191-41.19716,0-54.28965-18.42666-4.245-25.56315-11.95345-23.28356-22.55038l32.985-5.43508C590.48494,212.10816,590.79463,253.34681,586.642,297.42757Z"
            transform="translate(-239 -135.7462)" fill="#2f2e41" />
          <path
            d="M635.17036,326.93228l-35.71623,8.54084-12.423-71.43247,6.177.96516A33.00806,33.00806,0,0,1,618.815,285.4987Z"
            transform="translate(-239 -135.7462)" fill="#3a99d9" /></svg>
        <ion-grid>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-button [disabled]="!selectedClassCode || !selectedClassType" size="large" fill="outline"
                color="success" class="ion-margin-top" (click)="done()">
                Proceed
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-button>
              <ion-button size="large" fill="outline" color="danger" class="ion-margin-top" (click)="dismiss()">
                Fill Out Manually
                <ion-icon slot="end" name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>