ion-item ion-text h2 {
  font-size: 16px;
  margin: 2px 0;
}

ion-item ion-text p {
  font-size: 14px;
  margin: 0 0 2px;
  color: var(--ion-color-medium);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-txt-color {
  color: var(--ion-color-tertiary)
}
