.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

ion-item {
  border-left: 5px solid;
  padding: 0px;
  &.attended {
    border-color: #49B571;
  }
  &.absent {
    border-color: #E54D42;
  }
  &.absent-reason {
    border-color: #36A2EB;
  }
  &.late {
    border-color: #D49A0D;
  }
}

.calendar {
  background-color: var(--ion-color-light) !important;
}

.legend {
  margin-left: 8px;
}
