<!-- <ion-header>
  <ion-toolbar class="small-padding-start-end">
    <ion-searchbar [(ngModel)]="term" placeholder="Search (e.g. 'staff', 'timetable', ...)" showCancelButton="focus">
    </ion-searchbar>
    <ion-button *ngIf="!editMode" (click)="enableEditMode()" slot="end" fill="outline"
      color="primary">
      Edit
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button *ngIf="editMode" (click)="enableEditMode()" slot="end" fill="outline"
      color="primary">
      Save ({{ (fav$ | async).length }})
      <ion-icon slot="end" name="Save"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<!-- TODO: add the edit fav button & move the search functionality to a service or tabs page -->
<!-- TODO: What if fav$ failed? This will affect all the menu items -->
<ion-content *ngIf="fav$ | async as fav" [class]="(view$ | async) !== 'list' ? 'gradient-background' : ''">

  <div class="glob-container">
    <!-- LISTS UI -->
    <div *ngIf="(view$ | async) === 'list'; else menuCardsUI">
      <ion-grid>
        <ion-row>
          <ion-col [class.sticky]="editMode" size="12" size-md="5" push-md="7">
            <!-- FAVORITE -->
            <div *ngIf="!editMode && (fav | byItem: term) as filteredFavMenu; else onEditFav">
              <ion-card class="ion-no-margin favorite-background-color">
                <ion-card-header class="no-background">
                  <ion-card-title class="menu-color-text">
                    <div class="flex-fav-header">
                      <h3 class="ion-no-margin">Favorite</h3>
                      <ion-button (click)="enableEditMode()" fill='outline' class="menu-color-background">
                        EDIT
                        <ion-icon name="star"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-list class="ion-no-margin ion-no-padding no-background">
                    <ion-item-group class="ion-no-padding" *ngIf="filteredFavMenu.length > 0; else noFav">
                      <div *ngFor="let item of filteredFavMenu; let last=last;" style="position: relative;">
                        <div [class.edit-overlay]="editMode" [class.hide]="!editMode">
                          <ion-icon (click)="addToFav(item.id)"
                            [name]="(fav | itemInFav: item) ? 'star' : 'star-outline'" class="colored-text"></ion-icon>
                        </div>
                        <ion-item [lines]="!last ? 'inset' : 'none'" detail="true" button="true"
                          class="favorite-item-background" tappable="true"
                          (click)="openPage(item.url, item.attachTicket)">
                          <ion-avatar slot="start">
                            <img [src]="item.img">
                          </ion-avatar>
                          <ion-label class="ion-text-wrap menu-color-text">
                            <h2>{{ item.title }}</h2>
                          </ion-label>
                        </ion-item>
                      </div>
                    </ion-item-group>
                    <ng-template #noFav>
                      <ng-container *ngIf="!term; else noSearchResults">
                        <p class="ion-margin-top ion-margin-bottom ion-text-center ion-padding menu-color-text">
                          Click on edit button and add items now to your favorite menu :)
                        </p>
                      </ng-container>
                      <ng-template #noSearchResults>
                        <p class="ion-margin-top ion-margin-bottom ion-text-center ion-padding">
                          No results in favorite for {{term}} :(
                        </p>
                      </ng-template>
                    </ng-template>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </div>

            <ng-template #onEditFav>
              <ion-button (click)="enableEditMode()" class="sticky" color="primary" expand="block">
                SAVE ({{ (fav$ | async).length }})
                <ion-icon name="save"></ion-icon>
              </ion-button>
            </ng-template>
          </ion-col>
          <ion-col size="12" size-md="7" pull-md="5">
            <!-- MENU -->
            <div *ngFor="let group of menuFiltered | fuse:term:options | byGroup | keyvalue:noop">
              <ion-card class="ion-no-margin ion-margin-bottom">
                <ion-card-header color="light">
                  <ion-card-title>
                    <h3 class="ion-no-margin">{{ group.key }}</h3>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-list class="ion-no-margin ion-no-padding">
                    <ion-item-group class="ion-no-padding">
                      <div *ngFor="let item of group.value;let last=last;" style="position: relative;">
                        <div [class.edit-overlay]="editMode" [class.hide]="!editMode">
                          <ion-icon (click)="addToFav(item.id)"
                            [name]="(fav | itemInFav: item) ? 'star' : 'star-outline'" class="colored-text"></ion-icon>
                        </div>
                        <ion-item [lines]="!last ? 'inset' : 'none'" detail="true" button="true" tappable="true"
                          (click)="openPage(item.url, item.attachTicket)">
                          <ion-avatar slot="start">
                            <img [src]="item.img">
                          </ion-avatar>
                          <ion-label>
                            <h2>{{ item.title }}</h2>
                          </ion-label>
                        </ion-item>
                      </div>

                    </ion-item-group>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- CARDS UI -->
    <ng-template #menuCardsUI>
      <ion-grid>
        <!-- FAVORITE -->
        <ion-row [class.sticky]="editMode" *ngIf="editMode">
          <ion-col>
            <ion-button (click)="enableEditMode()" color="light" expand="block">
              SAVE ({{ (fav$ | async).length }})
              <ion-icon name="save"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!editMode && (fav | byItem: term) as filteredFavMenu">
          <ion-col>
            <!-- To balance favorite header-->
          </ion-col>
          <ion-col class="ion-padding-vertical">
            <h5 class="ion-text-center ion-no-margin">
              <ion-text class="menu-color-text">
                Favorite
              </ion-text>
            </h5>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button (click)="enableEditMode()" fill='outline' class="menu-color-background">
              EDIT
              <ion-icon name="star" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
          <ng-container *ngIf="filteredFavMenu.length > 0; else noFavCard">
            <div class="card-view-masonry-list">
              <div *ngFor="let item of filteredFavMenu" (click)="openPage(item.url, item.attachTicket)"
                class="card-view-masonry-item custom-card" tappable="true">
                <div>
                  <img [src]="item.img">
                  <p class="page-title">{{ item.title }}</p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noFavCard>
            <ion-col size="12">
              <ng-container *ngIf="!term; else noSearchResults">
                <p class="ion-margin-top ion-margin-bottom ion-text-center ion-padding">
                  <ion-text class="menu-color-text">
                    Click on edit button and add items now to your favorite menu :)
                  </ion-text>
                </p>
              </ng-container>
              <ng-template #noSearchResults>
                <!-- <p class="light-text ion-margin-top ion-margin-bottom ion-text-center ion-padding">
                No results in favorite for {{term}} :(
              </p> -->
                <app-message-with-svg imageUrl="assets/img/search-not-found.svg"
                  messageTitle="Opps! No results in favorite for {{term}}" messageContent="Perhaps you can try this:"
                  wrapperSize="{{isMobile ? '6' : '3'}}" wrapperMarginTop="30px"
                  wrapperOffset="{{isMobile ? '3' : '4.5'}}" [advancedMode]="true">

                  <div class="flex-container">
                    <ul class="list-txt-color">
                      <li>Make sure the keyword is matched with one of the items</li>
                      <li>Make sure you have typed a valid item code.</li>
                      <li>Make sure there is no special characters included.</li>
                    </ul>

                    <p>Still having trouble? No worries! Just click <a (click)="goToFeedback()">here</a> and report to
                      us for this issue.</p>
                  </div>
                </app-message-with-svg>
              </ng-template>
            </ion-col>
          </ng-template>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <ion-button color="primary" (click)="toggleExpandAll()">{{isExpand ? 'Collapse All' : 'Expand All'}}
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- MENU -->
        <ion-row *ngFor="let group of menuFiltered | fuse:term:options | byGroup | keyvalue:noop;">
          <ion-col size="12">
            <ion-item tappable="true" lines="none" class="transparent-item" (click)="showMore(group.key)">
              <ion-avatar slot="start">
                <img [src]="keyIcon[group.key]">
              </ion-avatar>

              <h5 class="ion-text-start ion-padding ion-no-margin">
                <ion-text class="menu-color-text">
                  {{ group.key }}
                </ion-text>
              </h5>
              <ion-icon class="menu-color-text" slot="end"
                [name]="keyList.includes(group.key) ? 'chevron-up-outline' : 'chevron-down-outline'">
              </ion-icon>
            </ion-item>
          </ion-col>
          <ion-col [style.display]="keyList.includes(group.key) ? 'block' : 'none'" *ngFor="let item of group.value"
            class="menu-item ion-text-start" size="12" size-md="6" size-lg="4" size-xl="3">
            <div *ngIf="item.title !== 'Logout'" [class.edit-overlay]="editMode" [class.hide]="!editMode">
              <ion-icon (click)="addToFav(item.id)" [name]="(fav | itemInFav: item) ? 'star' : 'star-outline'"
                class="colored-text"></ion-icon>
            </div>
            <div *ngIf="item.title !== 'Logout'" (click)="openPage(item.url)" class="custom-card" tappable="true">
              <div class="flex-content">
                <img [src]="item.img">
                <p class="page-title">{{ item.title }}</p>
              </div>
            </div>
          </ion-col>
          <ion-item-divider [class.set-divider-margin]="keyList.includes(group.key)"></ion-item-divider>
        </ion-row>
        <ion-row *ngIf="!editMode">
          <ion-col>
            <ion-item tappable="true" lines="none" color="none" (click)="openPage('logout')">
              <ion-avatar slot="start">
                <img src="assets/img/log-out.png">
              </ion-avatar>

              <h5 class="ion-text-start ion-padding ion-no-margin">
                <ion-text color="menu-color-text">
                  Logout
                </ion-text>
              </h5>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>
</ion-content>
