ion-avatar {
  --border-radius: 0 !important;
}

.menu-color-text{
  color: var(--ion-more-page-light-color);
}

.menu-color-background{
  --color: var(--ion-more-page-light-color);
  --border-color: var(--ion-more-page-light-color);
}

.transparent-item{
  --background: transparent !important;
}

// NEW CARD VIEW CUSTOM CSS STARTS HERE

.gradient-background {
  --ion-background-color: #3a99d9 !important;  /* fallback for old browsers */;
  --ion-background-color: var(--ion-more-page-background-color) !important;
}

.favorite-background-color {
  background: var(--ion-more-page-background-color);
}

ion-item-divider {
  border-bottom: 1.5px solid #e9ecee;
  min-height: 0;
  margin: 0 5px;
}

.set-divider-margin {
  margin-top: 30px;
}

.card-view-masonry-item {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

.card-view-masonry-list {
  width: 100%;
  column-gap: 10px;
  margin: 5px;
}

.custom-card {
  padding: 1em;
  background-color: var(--ion-more-page-card-color);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .flex-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .page-title {
    font-size: 1.05rem;
  }
    
  img {
    margin-right: 20px;
    max-width: 36px;
    max-height: 36px;
  }
}

.custom-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logout {
  background: var(--ion-color-danger) !important;

  .page-title {
    color: var(--ion-color-light);
  }
}
// NEW CARD VIEW CUSTOM CSS ENDS HERE

// NEEDED TO CHECK WITH REZA IF WE NEED A BACKGROUND IMAGE FOR EACH MENU ITEM
  // background-image: url('');

// NEEDED TO CHECK WITH REZA IF WE NEED A BACKGROUND IMAGE FOR EACH MENU ITEM
// &::after {
//   content: "";
//   background: var(--ion-color-tertiary);
//   opacity: 0.4;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }
// opacity: 0.4;

.edit-overlay {
  background: rgba(117, 111, 111, 0.3);
  top: 5px;
  left: 0;
  height: calc(100% - 5px);
  width: 100%;
  z-index: 10;
  position: absolute;
  ion-icon {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}

ion-col.menu-item{
  .edit-overlay {
    top: 5px;
    left: 5px;
    height: calc(100% - 9px);
    width: calc(100% - 10px);
    ion-icon {
      top: 10px;
    }
  }
}

.hide {
  display: none;
}

.favorite-item-background {
  --background: none !important;
  --border-color: var(--ion-more-page-light-color) !important;
  --detail-icon-color: var(--ion-more-page-light-color) !important;
}

.no-background {
  background: none !important;
}

.small-padding-start-end{
  --padding-start: 5px !important;
  --padding-end: 5px !important;
}

.success-border {
  border-color: var(--ion-color-success);
  --border-color: var(--ion-color-success);
}

.list-txt-color {
  color: var(--ion-color-tertiary)
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-fav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 5px;
  z-index: 1000;
}

// NEW CARD VIEW CUSTOM CSS STARTS HERE
@media only screen and (min-width: 1px) {
  .card-view-masonry-list {
    column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .card-view-masonry-list {
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .card-view-masonry-list {
    column-count: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .card-view-masonry-list {
    column-count: 4 !important;
  }
}
// NEW CARD VIEW CUSTOM CSS ENDS HERE

