p, h1, h2, h3, h4, h5, h6{
  line-height: 25px;
}

.virtual-card {
  margin: auto;
  position: relative;
  width: 310px !important;
  cursor: pointer;
  user-select: none;

  img {
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .virtual-card-student-img {
    position: absolute !important;
    bottom: 15px !important;
    right: 0 !important;
    padding: 15px 0 !important;
    height: 123px !important;
    margin-right: 5px;
  }

  .virtual-card-student-details {
    position: absolute !important;
    top: 80px !important;
    color: #000 !important;
    left: 10px !important;
    width: 200px !important;

    .virtual-card-student-name {
      margin: 0;
      font-size: 0.9rem;
    }

    .virtual-card-student-ids {
      font-size: 0.7rem;
      margin-top: 2px;
      margin-bottom: 0;

      .attr {
        display: inline-block;
        width: 9em;
      }

      .attr::after {
        content: ':';
      }
    }

  }
}

.staff-virtual-card{
  max-width: 220px;
  height: auto;
  margin: auto;
  position: relative;
  cursor: pointer;
  user-select: none;
  
  .staff-background{
    border-radius: 10px;
  }

  .staff-profile-picture {
    height: auto;
    max-width: 100px;
    position: absolute;
    top:0;
    left: 0;
    margin: 0 60px;
    margin-top: 100px;
    border-radius: 5px;
  }

  .staff-details{
    width: 150px;
    position: absolute;
    top: 0;
    margin-top: 230px;
    margin-left: 60px;
    margin-right: 10px;
    font-size: .8rem;
    color: #fff;

    p{
      line-height: 20px;
    }
  }
}

.card-padding{
  padding: 12rem;
}

.gradient-background {
  --ion-background-color: #3a99d9 !important;  /* fallback for old browsers */;
  --ion-background-color: var(--ion-more-page-background-color) !important;
}

.custom-card {
  position: relative;
  background-color: var(--ion-staff-profile-card-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-right: 35px;
  padding: 2rem;
}

.profile-photo {
  margin-top: 16px;
  max-height: 150px;
  max-width: 122px;
}

.counsellor-profile-photo {
  max-height: 150px;
  max-width: 122px;
}

ion-img {
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.margin-auto {
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  ion-col {
    border: none;

    ion-card:not(.orientation) {
      box-shadow: none;
      --background: transparent !important;
    }
  }

  .virtual-card {
    margin: auto !important;
    float: none !important;
  }

  .virtual-card-padding{
    padding-top: 1rem;
  }

  .custom-card {
    box-shadow: none;
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .virtual-card {
    width: 268px !important;

    .virtual-card-student-img {
      position: absolute !important;
      bottom: 4px !important;
      right: 0 !important;
      padding-top: 4px !important;
      padding-bottom: 25px !important;
      height: 107px !important;
    }

    .virtual-card-student-details {
      position: absolute !important;
      top: 71px !important;
      color: #000 !important;
      left: 10px !important;
      width: 153px !important;

      .virtual-card-student-name {
        font-size: 0.7rem;
        line-height: 18px;
      }

      .virtual-card-student-ids {
        font-size: 0.59rem !important;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .virtual-card {
    width: 250px !important;

    .virtual-card-student-details {
      top: 65px !important;
    }

    .virtual-card-student-img {
      bottom: 0 !important;
    }
  }

}
