<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>My Consultations Summary</ion-title>
    <ion-buttons slot="start">
      <ion-button outline small (click)="dismiss()">
        <ion-icon class="tertiary-txt-color" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content parallax-header class="ion-padding">
  <ion-card class="ion-no-margin ion-margin-bottom">
    <ion-card-header>
      <ion-card-title>
        <h4 class="responsive-h1">
          <span class="text-bolder">{{summaryDetails.totalOpenedSlots}}</span> Slots Opened
        </h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <chart height="600" [type]="chartData.type" [data]="chartData.data" [options]="chartData.options">
      </chart>
      <ion-item>
      </ion-item>
      <ion-item>
        <ion-label>
          <p class="tertiary-txt-color">
            Total Available Slots:
            <span class="text-bolder main-text-color">
              {{ summaryDetails.totalAvailableSlots }}
            </span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p class="tertiary-txt-color">
            Total Booked Slots:
            <span class="text-bolder main-text-color">
              {{ summaryDetails.totalBookedSlots }}
            </span>
          </p>
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-label>
          <p class="tertiary-txt-color">
            Unavailability:
            <span class="text-bolder main-text-color">
              {{ summaryDetails.totalUnavailalbeSlots }}
            </span>
          </p>
        </ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>