<ion-header *ngIf="smallScreen">
  <ion-toolbar>
    <ion-title class="ion-text-left" mode="md">
      <h2 class="glob-system-title system-title ion-no-margin">
        <img src="assets/icon/favicon.png" alt="Icon">
        <span>AP</span>Space
      </h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [color]="shownSearchBar ? 'tertiary' : 'primary'" (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="openHelpCentre()">
        <ion-icon slot="icon-only" name="information-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="shownSearchBar">
    <ion-searchbar [(ngModel)]="term" (ionFocus)="searching = true" (ionBlur)="stopSearching()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-tabs>
    <ion-tab-bar *ngIf="!smallScreen" slot="top">
      <ion-searchbar [(ngModel)]="term" (keydown.escape)="$event.target.blur()" (ionFocus)="searching = true"
        (ionBlur)="stopSearching()" placeholder="(S)earch APSpace" class="tabs-searchbar"></ion-searchbar>
      <ion-tab-button class="extra-tab extra-tab-3">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="extra-tab extra-tab-2">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="extra-tab extra-tab-1">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.path">
        <ion-label>{{ tab.name }}</ion-label>
        <ion-icon [name]="tab.icon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab-bar *ngIf="smallScreen">
      <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.path">
        <ion-label class ="tab-label">{{ tab.name }}</ion-label>
        <ion-icon class ="tab-icon" [name]="tab.icon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

    <div class="menu" [class.large-device-menu]="!smallScreen" [class.small-device-menu]="smallScreen"
      [style.display]="term && searching ? 'block' : 'none'">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ng-container *ngIf="(menuFiltered | fuse:term:options | byGroup | keyvalue:noop) as filteredMenu">
            <ng-container *ngIf="filteredMenu.length > 0; else noMenuItems">
              <ng-container *ngFor="let group of filteredMenu">
                <ion-col size="12" size-sm="6" size-md="auto" class="ion-padding-start ion-padding-end">
                  <div class="menu-group">
                    <ion-text color="primary">
                      <h2>{{ group.key }}</h2>
                    </ion-text>
                    <ng-container *ngFor="let item of group.value">
                      <ng-container
                        *ngIf="item.url.startsWith('http://') || item.url.startsWith('https://'); else internalLink">
                        <a tappable="true" (click)="openPage(item.url, item.attachTicket)">
                          <p>
                            {{ item.title }}
                          </p>
                        </a>
                      </ng-container>
                      <ng-template #internalLink>
                        <a tappable="true" (click)="openPage(item.url, item.attachTicket)">
                          <p>
                            <span *ngFor="let parent of item.parents" class="parent">{{ menusTitle[parent] }}</span>
                            <ion-text [color]="item.parents.length > 0 ? 'medium' : ''">{{ item.title }}</ion-text>
                          </p>
                        </a>
                      </ng-template>
                    </ng-container>
                  </div>
                </ion-col>
              </ng-container>
            </ng-container>
            <ng-template #noMenuItems>
              <ion-text color="danger" class="ion-text-center">
                <h3 style="font-size: 1.5em; margin-top: 25px; margin-bottom: 25px">
                  No search results was found
                </h3>
                <p>The term {{term}} is not related to any of the APSpace items</p>
              </ion-text>
            </ng-template>
          </ng-container>

        </ion-row>
      </ion-grid>

    </div>
  </ion-tabs>
</ion-content>
