.transaction-icon {
  width: 100%;
  height: 100%;
}

ion-item {
  border-left: 5px solid;
  .item-name {
    white-space: normal;
  }
  &.credit {
    border-color: var(--ion-color-success);
    ion-icon,
    .value {
      color: var(--ion-color-success);
    }
  }
  &.deposit {
    border-color: var(--ion-color-danger);
    ion-icon,
    .value {
      color: var(--ion-color-danger);
    }
  }
}
