<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>BeAPU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card>
          <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
            <div class="container-fluid">
              <br /><br />
              <ul class="multi-steps">
                <li *ngFor="let _ of totalSteps; let i = index" [class.is-active]="i===currentStepNumber"></li>
              </ul>
            </div>
            <ion-grid class="ion-no-padding" *ngIf="currentStepNumber === 0">
              <ion-row>
                <ion-col class="ion-text-center ion-margin-top">
                  <p>Step 1</p>
                  <h4 class="text-bold">Enter Student ID</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-input class="form-input" [(ngModel)]="studentId"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="ion-no-padding" *ngIf="currentStepNumber === 1">
              <ion-row>
                <ion-col class="ion-text-center ion-margin-top">
                  <p>Step 2</p>
                  <h4 class="glob-text-bold">Records History:</h4>
                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col size="12">
                  <!-- TODO: STUDENT IMAGE NEED TO BE ADDED HERE -->
                  <ng-container *ngIf="studentDetails$ | async as studentDetails; else loadingDetails">
                    <ng-container *ngIf="studentDetails.length > 0; else noStudentsData">
                      <ion-avatar class="glob-margin-auto">
                        <img [src]="'data:image/jpg;base64,' +
                        studentDetails[0].base64_photo" alt="img">
                      </ion-avatar>
                      <div class="ion-margin-top">
                        <ion-text color="primary">
                          <h2 class="glob-text-bold ion-text-center">{{studentDetails[0].name}} | {{studentId}}
                          </h2>
                        </ion-text>
                      </div>

                      <div class="ion-margin-top ion-text-center">
                        <ion-button color="primary" (click)="nextStep()">
                          <span></span>Next
                          <ion-icon name="arrow-forward" slot="end"></ion-icon>
                        </ion-button>
                      </div>

                      <p class="ion-no-margin ion-margin-top">Recent Records:</p>

                      <ng-container *ngIf="studentRecords$ | async as studentRecords; else loadingRecords">
                        <ng-container *ngIf="studentRecords.total_count > 0; else noRecords">
                          <ion-item *ngFor="let studentRecord of studentRecords.entries">
                            <ion-label class="glob-white-space-normal">
                              <ion-text color="danger">
                                <h2 class="glob-text-bold small-margin-bottom">
                                  {{studentRecord['6'] + (studentRecord['7'] ? ' | ' : '') + studentRecord['7']}}</h2>
                              </ion-text>
                              <p>
                                <ion-icon color="danger" name="calendar-outline"></ion-icon>
                                {{studentRecord['date_created']}}
                              </p>
                              <p>
                                <ion-icon color="danger" name="pin-outline"></ion-icon>
                                {{studentRecord['4']}}
                              </p>
                              <p>
                                <ion-icon color="danger" name="person-outline"></ion-icon>
                                {{studentRecord['8']}}
                              </p>
                              <p>
                                <ion-icon name="reader-outline" color="danger"></ion-icon>
                                {{studentRecord['2']}}
                              </p>
                            </ion-label>
                          </ion-item>
                        </ng-container>
                        <ng-template #noRecords>
                          <ion-text color="success">
                            <h2 class="text-bold ion-text-center">No previous records has been recorded
                              against
                              this student.</h2>
                          </ion-text>
                        </ng-template>
                      </ng-container>
                      <ng-template #loadingRecords>
                        <ng-container *ngFor="let skeleton of skeletons">
                          <ion-item>
                            <ion-label class="text-wrap-normal">
                              <h2 class="glob-text-bold small-margin-bottom">
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 100%;"></ion-skeleton-text>
                              </h2>
                              <p>
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 80%;"></ion-skeleton-text>
                              </p>
                              <p>
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 90%;"></ion-skeleton-text>
                              </p>
                              <p>
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 40%;"></ion-skeleton-text>
                              </p>
                              <p>
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 100%;"></ion-skeleton-text>
                                <ion-skeleton-text animated
                                  style="display: inline-block; line-height: 25px; width: 90%;"></ion-skeleton-text>
                              </p>
                            </ion-label>
                          </ion-item>
                        </ng-container>
                      </ng-template>
                    </ng-container>
                    <ng-template #noStudentsData>
                      <ion-text color="danger">
                        <h2 class="text-bold ion-text-center">The student ID you have entered does not exist
                          in the system.</h2>
                      </ion-text>
                    </ng-template>
                  </ng-container>
                  <ng-template #loadingDetails>
                    <ion-avatar class="margin-auto">
                      <ion-skeleton-text animated style="line-height: 100%; width: 100%;"></ion-skeleton-text>
                    </ion-avatar>
                    <h2 class="text-bold main-text-color ion-text-center">
                      <ion-skeleton-text animated style="display: inline-block; line-height: 25px; width: 20%;">
                      </ion-skeleton-text>
                      | {{studentId}}
                    </h2>
                  </ng-template>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="ion-no-padding" *ngIf="currentStepNumber === 2">
              <ion-row>
                <ion-col class="ion-text-center ion-margin-top">
                  <p>Step 3</p>
                  <h4 class="text-bold">Fill Up The Form</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item interface="popover" lines="none" class="ion-margin-top no-background-color">
                    <ion-label position="floating">Day</ion-label>
                    <ion-select required="true" [(ngModel)]="selectedDay" class="form-input">
                      <ion-select-option *ngFor="let day of days" [value]="day">
                        {{ day }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item lines="none" class="ion-margin-top no-background-color">
                    <ion-label position="floating">Location</ion-label>
                    <ion-select interface="popover" required="true" [(ngModel)]="selectedLocation" class="form-input">
                      <ion-select-option *ngFor="let location of locations" [value]="location">
                        {{ location }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item lines="none" class="ion-margin-top no-background-color">
                    <ion-label position="floating">Category</ion-label>
                    <ion-select interface="popover" required="true" [(ngModel)]="selectedMainCategory"
                      class="form-input">
                      <ion-select-option *ngFor="let mainCategory of mainCategories" [value]="mainCategory">
                        {{ mainCategory }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item lines="none" class="ion-margin-top no-background-color"
                    *ngIf="this.selectedMainCategory === mainCategories[0]">
                    <ion-label position="floating">Subcategory</ion-label>
                    <ion-select interface="popover" required="true" [(ngModel)]="selectedSubCategory"
                      class="form-input">
                      <ng-container *ngFor="let subCategory of subCategories">
                        <ion-select-option
                          *ngIf="(selectedDay === days[1] && subCategory.show === 'always') || selectedDay === days[0]"
                          [value]="subCategory.title">
                          {{ subCategory.title }}
                        </ion-select-option>
                      </ng-container>
                    </ion-select>
                  </ion-item>

                  <ion-item lines="none" class="ion-margin-top no-background-color">
                    <ion-label position="stacked">Description<span> (Optionl)</span></ion-label>
                    <ion-textarea class="form-input" autosize rows="4" [(ngModel)]="description" required="true">
                    </ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="currentStepNumber === 1 || currentStepNumber === 2" size="4">
                  <div class="ion-margin-top">
                    <ion-button class="danger-background ion-text-left" expand="block" (click)="cancel()">
                      <ion-icon name="arrow-back" slot="start"></ion-icon>
                      <span>Cancel</span>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col [attr.offset]="currentStepNumber === 1 || currentStepNumber === 2 ? 4 : 8" size="4">
                  <div class="ion-margin-top">
                    <ng-container *ngIf="currentStepNumber !== 2; else submit">
                      <ion-button color="primary" class="ion-text-right" expand="block" (click)="nextStep()"
                        [disabled]="(currentStepNumber === 0 && studentId.length < 3) || (currentStepNumber === 1 && disableNextButton)">
                        <span>Next</span>
                        <ion-icon name="arrow-forward" slot="end"></ion-icon>
                      </ion-button>
                    </ng-container>
                    <ng-template #submit>
                      <ion-button class="success-background" expand="block" (click)="submitReport()">
                        <span>Submit</span>
                        <ion-icon slot="end" name="checkmark"></ion-icon>
                      </ion-button>
                    </ng-template>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
          <ion-footer>
            <p class="ion-padding main-text-color">**View the dress code policy <span
                style="text-decoration: underline;" class="colored-text text-bold cursor-pointer"
                (click)="openStudentHandbook()">here</span>
              <small>- under the section: <span class="text-bold">PROFESSIONAL CODE OF CONDUCT</span>.</small>
            </p>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>