.form-input {
    border-radius: 7px;
    background: var(--ion-background-color);
    padding: 3px 10px !important;
    margin-top: 10px;
    border: 1px solid var(--ion-border-color);
    min-height: 40px;
  }
  
  .fail {
    color: var(--ion-color-danger);
  }
  
  .pass {
    color: var(--ion-color-success);
  }
  