<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Email Preference</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="ion-text-center ion-margin-bottom">
      <ion-text color="primary">
        <h4 class="glob-text-bold">Personal Email {{ !isSubscribed ? "not cluttered" : "cluttered" }}?</h4>
      </ion-text>
      <h6 class="glob-text-bold">You can {{ !isSubscribed ? "subscribe to" : "unsubscribe from" }} our emails here!
      </h6>
    </div>

    <app-message-with-svg messageTitle="" messageContent="" imageUrl="assets/img/notify.svg" wrapperOffset="2"
      wrapperSize="8">
    </app-message-with-svg>

    <p>{{ message }}</p>
    <div style="margin-top: 10px;">
      <ng-container *ngIf="(status$ | async) as status; else loading">
        <ion-button class="glob-text-bold" color="danger" expand="full" *ngIf="isSubscribed && !isProcessing" (click)="onUnsubscribe()">
          Unsubscribe</ion-button>
        <ion-button expand="full" [color]="isProcessing && !isSubscribed ? 'primary' : 'danger'" *ngIf="isProcessing">
          <loading-spinner></loading-spinner>
        </ion-button>
        <ion-button class="glob-text-bold" color="primary" expand="full" *ngIf="!isSubscribed && !isProcessing" (click)="onSubscribe()">
          Subscribe</ion-button>
      </ng-container>
    </div>

    <ng-template #loading>
      <ion-skeleton-text animated style="line-height: 40px;"></ion-skeleton-text>
    </ng-template>
  </div>
</ion-content>
