<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Staff Directory</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <staff-directory (staffID)="navigateToStaffDetails($event)"></staff-directory>
</ion-content>
