.light-background {
  background-color: var(--ion-color-light);
}


ion-item.student-record {
  border-left: 4px solid var(--ion-color-medium);

  &.success-border {
    border-left: 4px solid var(--ion-color-success);
  }

  &.danger-border {
    border-left: 4px solid var(--ion-color-danger);
  }

  &.edit {
    --border-color: var(--ion-color-medium);

    ion-label {
      max-width: 100%;
      width: 100%;
    }
  }
}

div.student-record {
  border-left: 4px solid var(--ion-color-medium);
  border-bottom: 1px solid var(--ion-color-medium);
}

.small-margin-bottom {
  margin-bottom: 5px;
}

.medium-border {
  padding: 0;
  border: 1px solid var(--ion-color-light);
}
