<ion-header>
  <ion-toolbar>
    <ion-title>Mentorship</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-card>
      <ion-card-header class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="4" offset-md="5">
              <ion-searchbar color="light" [(ngModel)]="search"
                placeholder="Search (e.g. 'Student Name, ID', 'Intake', 'Programme', ...)" showCancelButton="focus"
                cancelButtonIcon="search" style="--cancel-button-color: var(--primary-color)">
              </ion-searchbar>
            </ion-col>
            <ion-col size="12" size-md="3" class="glob-margin-auto">
              <ion-item lines="none" color="light" class="with-borders">
                <ion-label>Filter</ion-label>
                <ion-select [(ngModel)]="filter" interface="popover">
                  <ion-select-option selected></ion-select-option>
                  <ion-select-option value="mentor">PL</ion-select-option>
                  <ion-select-option value="pl / mentor">PL / Mentor</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ng-template let-students [ngIf]="(students$ | async)" [ngIfElse]="loadingStudents" approxItemHeight="68px">
          <ng-container *ngIf="(students | search:search | filter:filter).length > 0; else noData">
            <ion-virtual-scroll [items]="students | search:search | filter:filter">
              <ion-item lines="full" detail="true" *virtualItem="let student"
                [routerLink]="['/', 'mentorship', student.STUDENT_NUMBER, student.INTAKE_CODE, 'view']">
                <ion-label>
                  <ion-text color="primary">
                    <h5 class="glob-text-bold"> {{ student.NAME }} </h5>
                  </ion-text>
                  <p> {{ student.STUDENT_NUMBER }} | {{ student.INTAKE_CODE }} </p>
                  <ion-text color="medium">
                    <p> {{ student.PROGRAMME }} </p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-virtual-scroll>
          </ng-container>

          <ng-template #noData>
            <app-message-with-svg imageUrl="assets/img/search-not-found.svg" messageTitle="No student found!"
              messageContent="looks like our magical elves has no data to show" wrapperOffset="3" wrapperSize="6">
            </app-message-with-svg>
          </ng-template>
        </ng-template>

        <!-- Loading -->
        <ng-template #loadingStudents>
          <ion-item *ngFor="let _ of loadingSkeletons">
            <ion-label>
              <h5>
                <ion-skeleton-text animated style="width: 70%; line-height: 20px;"></ion-skeleton-text>
              </h5>
              <h5>
                <ion-skeleton-text animated style="width: 60%; line-height: 15px;"></ion-skeleton-text>
              </h5>
              <h3>
                <ion-skeleton-text animated style="width: 40%; line-height: 15px;"></ion-skeleton-text>
              </h3>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>