.h-mobile-d-desktop {
  display: none;
}


.small-padding {
  padding: 5px;
  padding-bottom: 10px;
}

@media (min-width: 576px) {

  // large screens => table settings
  .h-mobile-d-desktop {
    display: block;
    visibility: visible;
  }

  .h-desktop-d-mobile {
    display: none;
  }
}
