ion-card {
  ion-card-content ion-icon {
    vertical-align: -1.2px;
    padding-left: 0px;
    padding-right: 0px;
  }

  ion-card-content a {
    text-decoration: none;
  }

  .freeTime {
    --background: var(--ion-color-success) !important;
    --color: #ffffff !important;
  }

  ion-card-header {
    padding-bottom: 5px;
  }

  &.card-special {
    margin-top: 10px !important;
    margin-bottom: 1px !important;
  }
}

ion-segment{
  --background: var(--ion-color-light);
}

.table-item:nth-child(odd) {
  --background: var(--ion-background-color) !important;
}

.no-ripple {
  --ripple-color: transparent;
}
