ion-col[scrollx="true"],
ion-col[scrolly="true"] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

ion-col[scrollx="true"] {
  overflow-x: auto;
}

ion-col[scrolly="true"] {
  overflow-y: auto;
}

.profile {
  .avatar {
    width: 100px;
    height: 100px;
    transition: 0.5s all;
    border: 2px solid var(--ion-color-primary);
    padding: 3px;

    &:hover {
      padding: 1px;
      border: 0.5px solid var(--ion-color-primary);
    }
  }

  .notification-badge {
    position: absolute;
    top: 0px;
    right: -6px;
    z-index: 100;
    font-size: 0.8em;
    padding: 3px 3px 3px 4px;
  }
}

.todays-schedule {
  .todays-schedule-container {
    .event-container {
      padding: 10px;
      transition: all 0.2s ease;
      border-left: 3px solid;
      border-bottom: 1px solid var(--ion-color-step-100);

      &.class-type {
        border-left-color: #8eaf2d;

        .colored-with-type {
          color: #8eaf2d;
        }

        .description a {
          color: #8eaf2d;
        }
      }

      &.iconsult-type {
        border-left-color: #54acd2;

        .colored-with-type {
          color: #54acd2;
        }

        .description a {
          color: #54acd2;
        }
      }

      &.exam-type {
        border-left-color: var(--ion-color-danger);

        .colored-with-type {
          color: var(--ion-color-danger);
        }

        .description a {
          color: var(--ion-color-danger);
        }
      }

      &.holiday-type {
        border-left-color: var(--ion-color-warning);

        .colored-with-type {
          color: var(--ion-color-warning);
        }

        .description a {
          color: var(--ion-color-warning);
        }
      }

      &.passed-event {
        border-left-color: #a1a1a1;

        .colored-with-type {
          color: #a1a1a1;
        }
      }

      .info-item {
        margin-top: 9px;

        .small-margin {
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      &:hover {
        border-left-width: 10px;
      }
    }
  }
}

.locations {
  font-size: 1.2em;
}

.color-indicator {
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.schedule-container {
  background-color: var(--ion-color-light);
  border-radius: 0px 5px 5px 0px;

  .timing-1 {
    font-size: 1.4em;
  }

  .timing-2 {
    font-size: 1.2em;
    opacity: 0.6;
  }

  .timing-3 {
    font-size: 1em;
    opacity: 0.6;
  }

  .timing-4 {
    font-size: 0.9em;
    opacity: 0.6;
  }

  .bus-icon {
    color: #fff;
    font-size: 1.5em;
  }
}

.image-slider {
  position: relative;
  .swiper-container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;

    .picture {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .swiper-button-prev {
    left: 2px;
  }

  .swiper-button-next {
    right: 20px;
  }

  .box {
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, 0.2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-image: none !important;

    ion-icon {
      border-radius: 100%;
      padding: 6px;
      color: #e50565;
      background-color: rgba(19, 79, 109, 0.8);
    }
  }
}

.contacts-row {
  cursor: pointer;

  .contacts-icon {
    font-size: 2rem;
  }

  .contacts-lecturer-name {
    font-size: 1.2em;
  }
}

.contacts-row:hover {
  background-color: var(--ion-color-light);
}

.floating-icon {
  font-size: 30px;
}

.timezone-notice-text {
  font-weight: bold;
}

.dash-padding {
  padding: 1em 1em 0 1em;
}

.dash-padding-bottom {
  padding-bottom: 1em;
}

@media screen and (max-width: 720px) {
  .dash-padding {
    padding: 1em 0 0 0;
    border-radius: 0;
  }
  .dash-padding-bottom {
    padding-bottom: 1em;
  }
  .no-border-rad {
    border-radius: 0;
  }
  .image-slider {
    .swiper-slide {
      border-radius: 0;
    }
  }
}
