<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">CLOSE</ion-button>
    </ion-buttons>
    <ion-title>Searched Results</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="outline" (click)="doRefresh()">
        REFRESH
        <ion-icon name="refresh" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <div *ngIf="files$ | async as files; else loading;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-padding">
          <ion-item lines="none" class="custom-item">
            <ion-label>Month Year (eg Oct 2020)</ion-label>
            <ion-datetime placeholder="Select to Filter" displayFormat="MMM YYYY" [(ngModel)]="dateToFilter">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-item lines="none" class="custom-item">
            <ion-label>Payslip/EA/PCB</ion-label>
            <ion-select [(ngModel)]="fileToFilter" placeholder="Select to Filter">
              <ion-select-option value="Payslip">Payslip</ion-select-option>
              <ion-select-option value="CP8A">EA Form</ion-select-option>
              <ion-select-option value="PCB2">PCB Form</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-button [disabled]="!dateToFilter && !fileToFilter" expand="block" (click)="displayAllFiles()">
            Show All
          </ion-button>
        </ion-col>
      </ion-row>
  
      <div *ngIf="(files | filter:dateToFilter:fileToFilter).length > 0; else noFiles;">
        <ion-row>
          <ion-col size="12" size-md="6" size-xl="4" *ngFor="let payslip of (files | filter:dateToFilter:fileToFilter)">
            <ion-card>
              <img src="{{payslip | getDate | date: 'MMM' | generateMonthImg}}" />
  
              <ion-card-header>
                <ion-fab horizontal="end" vertical="top" edge>
                  <ion-fab-button (click)="downloadPayslipPdf(payslip)" class="colored-background">
                    <ion-icon name="download"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
                <ion-card-title>
                  {{payslip | getDate | date : 'MMM yyyy'}}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{payslip}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <ng-template #noFiles>
    <app-message-with-svg imageUrl="assets/img/empty.svg" messageTitle="Opps! There is no Files." wrapperSize="4"
      wrapperOffset="4" wrapperMarginTop="20px">
    </app-message-with-svg>
  </ng-template>

  <ng-template #loading>
    <div class="loader-container">
      <loading-spinner message="Loading..." size="50px"></loading-spinner>
    </div>
  </ng-template>
</ion-content>
